<launch>
<node pkg="gf_detection" type="down" name="down" output="screen"/>
<node pkg="gf_detection" type="circle.py" name="circle" output="screen"/>
<!-- <node pkg="gf_perception" type="gaofen.py" name="gaofen_perception" output="screen"/> -->
<include file="$(find imu_filter_madgwick)/launch/madgwick.launch"/>
</launch>
